.megamenu-background {
    background: rgb(51, 51, 51);
    text-transform: uppercase;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 99999;
}
.menu-container img {
    max-width: 100%;
}

.menu-container ul{
    z-index: 9999;
}

.menu-container a:hover {
    text-decoration: none;
    cursor: pointer;
}

.menu-container ul {
	list-style: none;
	padding: 0;
    list-style-type: none;
}

.menu-container ul > li {	
    padding: 15px;
    text-transform: uppercase;
    color: #333;    
    list-style: none;
    position: relative;

}

.menu-container a:hover {
    cursor: pointer;
}

.menu-container li.item-separate > ul > li {
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.menu-container li.item-separate > ul > li:last-child {
    border-bottom: 1px solid #eaeaea;
}

.menu-container ul.level_0 {
    margin-bottom: 0px;	
    position: relative;
}

.menu-container ul.level_0 > li {
	display: inline-block;
    padding: 15px; 
}


.menu-container ul.level_0 > li:first-child {
	background: #5c5c5c;
}

.menu-container ul.level_0 > li > a:after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 9px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    color: #fff !important;
    vertical-align: top;
    margin: 5px 0px 0px 6px;
}

.menu-container ul.level_0 > li > a {
    color: white;
    font-weight: bold;
}

.menu-container ul.level_1 {
	width: 100%;
    left: 0px;
    color: darkgray;
	margin-top:15px;
}

.menu-container ul.level_1 a {
	color: darkgray;
}

.menu-container .left-column-full ul.level_2 {
	top: 0px;
    color: darkgray;
    border: 1px solid #eaeaea;	
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background: white;
    display: block;
    visibility: hidden;
}

.menu-container ul.level_0 > li.left-column-full {
    position: static;
}


.menu-container .left-column-full > ul.level_1 {
    width: 25%;
}

.menu-container .left-column-full ul.level_2 > li {
    display: inline-block;
    border-top: 1px solid #eaeaea;
    text-align: center;
}

.menu-container .left-column-full ul.level_2 > li > a {
    color: #23a1d1;
}

.menu-container .left-column-full li > ul.level_2:before {
    position: absolute;
    top: 11px;
    left: 0;
    margin-top: 0px;
    margin-left: -10px;
    display: block;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-right-color: #fff;
    border-left-width: 0;
    content: '';
    z-index: 30;
}

.menu-container .left-column-full ul.level_3 {
    display: block;
    border-top: none;
    margin-top: 15px;
    width: calc(100% + 2px);
    position: relative;
}

.menu-container .left-column-full ul.level_3 a {
    text-transform: none;
}

.menu-container .left-column-full ul.level_3 > li {
    display: block;
    width: 100%;       
}

.menu-container .left-column-full > li {
    left: 0px;
    width: 20%;
}

.menu-container .left-column-full .level_2 {    
    width: calc(300% + 8px);
    top: -1px;		
}


.menu-container .level_1, .menu-container .level_2, .menu-container .level_3{
    display: none;
    position: absolute;	
    width: 100%;
}

.menu-container li:hover > ul {
    display: block;
}

.menu-container .left-column-full li:hover > ul.level_2{
    left: 100%;
}

.menu-container .left-column-full ul.level_2 > li {
    padding-top: 40px;
    text-align: left;
}

.menu-container .left-column-full ul.level_2 > li:first-child {
    padding-left: 40px;
}

.menu-container .left-column-full ul.level_2 > li li{
    padding:5px;
}

.menu-container .left-column-full ul.level_2 > li.carousel-menu{
    text-align: center;
}

.menu-container .left-column-full li:hover > ul{
    transition: left 0.2s ease-in;
    visibility: visible; 
}

.menu-container ul.level_0 > li.full-width{
    position: static;
}

.menu-container .full-width > ul > li {
    display: inline-block;
    text-align: center;	
}

.menu-container .full-width > ul > li > ul {
    display: block;
    left: 0px;
    visibility: visible;
    padding-top: 15px;
    position: relative;
}

.menu-container .full-width > ul {
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;    
}

.menu-container .full-width ul.level_1 > li > a {
    color: #23a1d1;
}

.menu-container .full-width ul.level_2 a {
    text-transform: none;
}

.menu-container .one-column ul {
    left: 0px;
    min-width: 200px;
}

.menu-container .one-column  ul ul {
    left: calc(100% + 20px);
    visibility: hidden;
    transition: left 0.2s ease-in;
    display: block;   
}

.menu-container .one-column ul li:hover > ul{     
    visibility: visible; 
    left: 100%;
    top: 0px;    
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.menu-container .one-column ul ul:before {
    position: absolute;
    top: 11px;
    left: 0;
    margin-top: 0px;
    margin-left: -10px;
    display: block;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-right-color: #fff;
    border-left-width: 0;
    content: '';
    z-index: 30;
}


.menu-container .left-column-full .owl-carousel .owl-nav button.owl-prev:hover, 
.menu-container .left-column-full .owl-carousel .owl-nav button.owl-next:hover {
    border: 1px solid;
    border-color: #fe9c00;
    background: #fe9c00;
}

.menu-container .left-column-full .owl-carousel .owl-nav button.owl-prev, 
.menu-container .left-column-full .owl-carousel .owl-nav button.owl-next {
    width: 35px;
    border-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 17px;
    margin-right: 30px;
    height: 35px;
    background: white;
}

.menu-container .left-column-full .owl-carousel{
    text-align: center;
}

.menu-container .left-column-full ul.level_1 > li.has-chidlren {
    padding-left:30px;
    transition: all 0.2s ease-out;
}
.menu-container .left-column-full ul.level_1 > li.has-chidlren > a:before {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: FontAwesome;
    cursor: pointer;
    font-size: 9px;
    line-height: 9px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    color: #666;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.menu-container .left-column-full ul.level_1 > li.has-chidlren:hover {
    padding-left:40px;
}
.menu-container .left-column-full ul.level_1 > li.has-chidlren:hover > a:before{
    opacity: 0;
    visibility: hidden;
    right: 5px;
}
.menu-container .left-column-full li a > img.icon {
    padding-right: 5px;
    margin-top: -5px;
}

.menu-container .left-column-full ul.level_1 > li.has-chidlren:hover > a:after{
    opacity: 1;
    visibility: visible;
}
.menu-container .left-column-full ul.level_1 > li.has-chidlren > a:after {
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    font-family: FontAwesome;
    cursor: pointer;
    font-size: 9px;
    line-height: 9px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    color: #222;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
}

.menu-container .product-detail > a {
    display: none;
}

.megamenu-mobile{
    background: rgb(51, 51, 51);
}


.megamenu-mobile ul {
	list-style: none;
    padding: 0px;
    list-style-type: none;
    position: relative;
}

.megamenu-mobile a {
    padding: 15px 15px;
    display: block;
}
.megamenu-mobile a > img.icon{
    padding-right: 10px;
}

/* .megamenu-mobile ul li {
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    
} */

.megamenu-mobile  li.non-border {
    border: none;
}

.megamenu-mobile li {
    position: relative;
}

.megamenu-mobile ul li ul{
    display: none;
}

.megamenu-mobile .expand-button {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 70px;
}

.megamenu-mobile .expand-button:before {
    content: "+";
    font-family: Arial;
    font-weight: 300;
    font-size: 20px;
}
.megamenu-mobile .active > .expand-button:before {
    content: "-";
    font-size: 30px;
}
.megamenu-mobile li.row {
    margin-left: 0px;
    margin-right: 0px;
}

.megamenu-mobile ul.level_0 > li > a {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.megamenu-mobile li.active > a {
    background: #fbfbfb;
    color: #222;
}

.megamenu-mobile li.active li {
    background: white;
}

.megamenu-mobile .col-sm-3, .megamenu-mobile .col-sm-4, .megamenu-mobile .col-sm-5{
    padding-left: 0px;
    padding-right: 0px;
} 

.megamenu-mobile li {
    border-top: 1px solid #eaeaea;
   
}
.megamenu-mobile ul.level_0 li:first-child{
    border-top: none;
}

.megamenu-mobile ul {
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.megamenu-mobile img {
    max-width: 100%;
}

.megamenu-mobile li.col-sm-3 > a:first-child,  
.megamenu-mobile li.col-sm-4 > a:first-child,
.megamenu-mobile li.col-sm-5 > a:first-child {
    font-size: 18px;
    color: #fe9c00;
}


@media (min-width: 768px){
    .megamenu-mobile li.col-sm-3 ul, .megamenu-mobile li.col-sm-5 ul {
        display: block;
    }
    .megamenu-mobile li.col-sm-3 a.expand-button, .megamenu-mobile li.col-sm-5 a.expand-button{
        display: none;
    }
    .megamenu-mobile .col-sm-3.active > a {
        background: white;
    }
    .megamenu-mobile .col-sm-3.active > ul {
        display: block;
    }

    .megamenu-mobile li.col-sm-3, .megamenu-mobile li.col-sm-3 li,
    .megamenu-mobile li.col-sm-4, .megamenu-mobile li.col-sm-4 li,
    .megamenu-mobile li.col-sm-5, .megamenu-mobile li.col-sm-5 li {
        border-top: none;
    }
}

.megamenu-mobile {
    display: none;
}
@media (max-width: 991px){
    .menu-container {
        display: none;
    }

    .megamenu-mobile {
        display: block;
    }
}
